<div class="container-sm">
  <h3>Subir archivo de configuración.</h3>
  <form action="xee" method="post" enctype="multipart/form-data">
    <label for="uploaded_file">Ingrese el archivo de configruación :</label>
    <input type="file" id="uploaded_file" name="uploaded_file" accept="text/xml" />
    <button type="submit">Enviar</button>
  </form>
</div>