<div class="container-sm">
    <h3>Registo de usuarios, ingrese los datos requeridos</h3>
    <form action="xss" method="post">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name">
           
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="check_secure" name="check_secure">
            <label class="form-check-label" >Envio Protegido</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>